{
  "BitPayConfiguration": {
    "Environment": "",
    "EnvConfig": {
      "Test": {
        "PrivateKeyPath": "",
        "ApiTokens": {
          "pos": "",
          "merchant": "",
          "payroll": ""
        }
      },
      "Prod": {
        "PrivateKeyPath": "",
        "ApiTokens": {
          "pos": "",
          "merchant": "",
          "payroll": ""
        }
      }
    }
  }
}